html {
	box-sizing: border-box;
	font-family: 'Contrail One', sans-serif;}
}

*, *::before, *::after {
	box-sizing:inherit;}

body {
	margin: 0;
}

header{
	position: relative;
	background-color: #2c3950;
	width: 100%;
	overflow: hidden;
}

h1 {
	background-color: #1a2230;
	color: #ffffff;
	box-shadow: inset 0px 0px 8px #000000;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
	width: 100%;
}

.robot {
	position: relative;
	width: 320px;
	margin: 0em auto;
}

.headleft {
	position: absolute;
	width: 125px;
	bottom: 28.5%;
	right: 50%;
	transition: all 250ms linear; /* This is the speed at which the object will transition from point A to point B */
}

.headright {
	position: absolute;
	width: 125px;
	bottom: 28.5%%;
	left: 50%;
	transition: all 250ms linear;
}

.brain {
	position: absolute;
	width: 46px;
	bottom: 55%;
	left: 42.5%;
	transition: all 250ms linear;
}

.robotbody {
	width: 320px;
	top: 3em;
	margin-top: 75px;
	display:block;
}

.robot:hover .brain { /*This confused you at the time. The .robot is the div class, which you are making everything inside of hover.*/
bottom: 65%;

}

.robot:hover .headleft {
right: 55%; /*The amount at which the object will move left or right. Left needs to go right and right needs to go left. Confusing, I know. */

}

.robot:hover .headright {
left: 55%;

}
